:root{
    --main : #d4d8dd;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@400;500;600;700&family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "SourceHanSerif-Regular";
    src: url("../font/SourceHanSerif-Regular.woff");
}

@font-face {
    font-family: "SourceHanSerif-Heavy";
    src: url("../font/SourceHanSerif-Heavy.woff");
}

@font-face {
    font-family: "SourceHanSans-Regular";
    src: url("../font/SourceHanSans-Regular.ttf");
}

@font-face {
    font-family: "SourceHanSans-Bold";
    src: url("../font/SourceHanSans-Bold.ttf");
}

@font-face {
    font-family: "Geometos";
    src: url("../font/Geometos.ttf");
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: medium;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.no-select{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.font-geometos{
    color: rgb(212, 216, 221);
    font-family: 'Geometos';
    font-size: small;
}
.font-hansans-bold{
    color: rgb(212, 216, 221);
    font-family: 'SourceHanSans-Bold';
}
.font-hansans-regular{
    color: rgb(212, 216, 221);
    font-family: 'SourceHanSans-Regular';
}
.font-hanserif-heavy{
    color: rgb(212, 216, 221);
    font-family: 'SourceHanSerif-Heavy';
}
.font-hanserif-regular{
    color: rgb(212, 216, 221);
    font-family: 'SourceHanSerif-Regular';
}
.font-mont-regular{
    color: rgb(212, 216, 221);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.font-mont-semibold{
    color: rgb(212, 216, 221);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.font-mont-bold{
    color: rgb(212, 216, 221);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.font-mont-black{
    color: rgb(212, 216, 221);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.font-libre-regular{
    color: rgb(212, 216, 221);
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}
.font-libre-bold{
    color: rgb(212, 216, 221);
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}
.font-bebas{
    color: rgb(212, 216, 221);
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}

.letter-spacing{
    letter-spacing: 0.3rem;
}
.letter-spacing-sm{
    letter-spacing: 0.25rem;
}
.letter-spacing-lg{
    letter-spacing: 0.5rem;
}

.container-fluid{
    padding: 0;
}

.main{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../image/background-main.png);
}

@keyframes onLoadBG {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.sub-main{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: onLoadBG;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: transform;
}

.sub-main img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.navbar-brand img{
    height: 40px;
}

.filter-contrast{
    filter: contrast(80%);
}

.nav-item a{
    margin: 0 1.1rem 0px 1.1rem;
    text-decoration: none;
    color: var(--main);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
    transition-property: opacity;
}

.nav-item a:hover{
    opacity: 80%;
}

.title-logo{
    width: 400px;
}

@keyframes nextAnimate{
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: translateX(4.5rem);
        opacity: 0;
    }
}

.wrapper-next{
    height: 100%;
    animation: nextAnimate 3s ease-in-out infinite;
}


.icon-next{
    width: 0.7em;
    height: 100%;
    display: flex;
    align-items: center;

}

.faction-wrapper{
    overflow-x: scroll;
}

.faction-wrapper::-webkit-scrollbar{
    display: none;
}

.faction-wrapper .content{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    flex: none;
}

.faction-logo{
    width: 12rem;
    filter: contrast(50%);
}

.fraction-static-text{
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke: rgb(212, 216, 221) 1px;
}

@keyframes scrollAnimate{
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scrollNextAnimate{
    0% {
        transform: translateX(-4.4rem);
        opacity: 0;
    }
    
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: translateX(-1rem);
        opacity: 0;
    }
}

.scroll-next-animate{
    animation: scrollNextAnimate 3s ease-in-out infinite;
}

.wrapper-scroll-animate{
    animation: scrollAnimate 3s ease-in-out infinite;
}

@keyframes onloadAlbumAnimate{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.album-container{
    animation: onloadAlbumAnimate .7s ease 1;
}

.album-content{
    display: flex;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    flex-wrap: nowrap;
}

.album-page{
    width: calc(100vw - 3rem);
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0%);
    transition: all .3s ease-in-out;
}

@keyframes onloadAlbumImageAnimate {
    from{
        filter: grayscale(1);
    }
    to{
        filter: grayscale(0);
    }
}

.album-image{
    width: 19rem;
    animation: onloadAlbumImageAnimate 2s ease 1;
}

.arrow-album{
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    width: 2.04rem;
    height: 3.6rem;
}

.arrow-album-left{
    left: 1.72rem;
    opacity: 1;
}

.arrow-album-right{
    right: 1.72rem;
    opacity: 1;
}

.arrow-album-left::after{
    content: "";
    display: block;
    width: 2.08rem;
    height: 2.08rem;
    position: absolute;
    left: 0%;
    top: 50%;
    margin-top: -0.54rem;
    box-sizing: border-box;
    border-right: 2px solid #a2a9ae;
    border-bottom: 2px solid #a2a9ae;
    transform: rotate(135deg) skew(-15deg,-15deg);
}

.arrow-album-right::after{
    content: "";
    display: block;
    width: 2.08rem;
    height: 2.08rem;
    position: absolute;
    right: 0%;
    top: 50%;
    margin-top: -0.54rem;
    box-sizing: border-box;
    border-right: 2px solid #a2a9ae;
    border-bottom: 2px solid #a2a9ae;
    transform: rotate(-45deg) skew(-15deg,-15deg);
}

.dot-container{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot-area{
    padding: .5rem;
}

.dot{
    border: 0.02rem solid hsla(0,0%,56.5%,.5);
    background: transparent;
    width: .6rem;
    height: .6rem;
    transition: all .3s ease;
}

.dot-active{
    margin: .5rem;
    position: absolute;
    border: 0.04rem solid #fff;
    background: #5e5e5e;
    left: 0%;
}

@keyframes newsLoopingText {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}


.news-looping-text{
    text-align: left;
    white-space: nowrap;
    box-sizing: border-box;
    width: 50%;
    border-left: 0.24rem solid transparent;
    border-right: 0.24rem solid transparent;
    overflow: hidden;
    color: transparent;
    -webkit-text-stroke: hsla(0, 6%, 82%, 0.2) 1px;
}

.news-looping-text::after, .news-looping-text::before{
    font-size: 3rem;
    content: "BREAKING NEWS BREAKING NEWS";
    display: inline-block;
    padding-right: 0.6rem;
    animation: newsLoopingText 20s linear infinite;
}

.news-banner-slider{
    display: flex;
    justify-content: center;
}

.news-banner-slider-wrapper{
    width: 75%;
}

.news-banner-content{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex: none;
}

.news-banner-item{
    height: 100%;
    width: 100%;
    border-color: var(--main);
    transform: translateX(0%);
    transition: all .5s ease;
    animation: onloadAlbumImageAnimate 3s ease 1;
}

.corner{
    position: absolute;
    width: .5rem;
    height: .5rem;
    background-color:#91959d;
}

.news-banner-info{
    top: 140%;
    left: 13%;
    width: 75%;
}


.news-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.news-wrapper{
    width: 80%;
}

.news-scroll{
    height: 50vh;
    display: flex;
    flex-direction: column;
    overflow-y : scroll;
    overflow-x: hidden;
    -webkit-mask: linear-gradient(rgb(255, 255, 255) 90%, transparent 100%) center top;
}

.news-scroll::-webkit-scrollbar{
    display: none
}
@keyframes onLoadNewsContent{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}

.news-content{
    cursor: pointer;
    animation-timing-function: ease;
    animation-name: onLoadNewsContent;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    transform: translateX(-100%);
}

.news-content-header{
    margin: .3rem 0 .3rem 0;
}

.news-content-title{
    margin: 0 0 1rem 0; 
}

.news-content-divider{
    flex: auto;
    width: 100%;
    height: 1px;
    background: linear-gradient(-90deg, transparent ,#595a5c,transparent);
}